<div id="features">
    <div class="container">
        
        <div class="row service-slides teacher-features" id="teacher-features">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/enrollment.png" style="margin: auto;"/>
                    <div class="service-title">Enrollments</div>
                    <div class="text-muted">made easy.</div>
                    <div class="text-desc">{{ "Take your school -to- online today. Enrolling kids to new programs, extended care, after school activities, etc. — just a click away! It's quick & easy for everyone. Parents love it." | truncate: 80 }}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#enrollments">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/teacher_document.png" style="margin: auto;"/>
                    <div class="service-title">Documents</div>
                    <div class="text-muted">organize. clutter free.</div>
                    <div class="text-desc">{{ "Our smart tech automagically organizes your student forms/documents for you. Making them available at your fingertips when you need ‘em. We clear clutter out of your school." | truncate: 80 }}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_documents">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/moments.png" style="margin: auto;"/>
                    <div class="service-title">Moments</div>
                    <div class="text-muted">capture your classroom in action. share.</div>
                    <div class="text-desc">{{ "Parents just love to see kids in action. And you may be that lucky one to see ‘em at first hand! Capture & Share whenever you want!! Even a cute word they just said!!!" | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_moments">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/notification.png" style="margin: auto;"/>
                    <div class="service-title">Reminders</div>
                    <div class="text-muted">focus on whats more important…kids.</div>
                    <div class="text-desc">{{ "Remembering day -to- day matters is a daunting task. Birthdays. Holidays. Parent Reminders. Due Dates. Asking all parents to bring toys tomorrow…aaahh! you got the idea." | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_notifications">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/promote.png" style="margin: auto;"/>
                    <div class="service-title">Promote</div>
                    <div class="text-muted">stand-out. stay-ahead. be a <b>purple cow</b>.</div>
                    <div class="text-desc">{{ "Our product suites naturally blends with your marketing strategies. Helping you reach right audience with right tools. Fullfilling your short terms goals -to- those long term goals." | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#promote">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/sign-in.png" style="margin: auto;"/>
                    <div class="service-title">Sign-In/Out</div>
                    <div class="text-muted">iSIGHT. Automagically works.</div>
                    <div class="text-desc">{{ "iSIGHT makes student sign-in/out seamless. No kiosks. No hassle of charging. Moves around with you. Teachers are no exemption." | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_sing_in">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/reports.png" style="margin: auto;"/>
                    <div class="service-title">Reports</div>
                    <div class="text-muted">Track. Print. Export.</div>
                    <div class="text-desc">{{ "Ability to view-export-print vivid collection of schools performance reports for Teacher, School Administrator makes our platform perfect fit." | truncate: 80 }}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_reposts">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/message.png" style="margin: auto;"/>
                    <div class="service-title">Messaging</div>
                    <div class="text-muted">Start a conversation. Realtime.</div>
                    <div class="text-desc">{{ "Whether you intend to communicate with an individual parent or group of parents, parent messaging is never been so much easier & fun. Messages around kid are always visible to class teacher(s)." | truncate: 75}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_messages">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>


            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<img src="{{ site.baseurl }}/img/schedule.png" style="margin: auto;"/>-->
                    <!--<h3>Schedule</h3>-->
                    <!--<h4>a class room schedule. or school year calendar.</h4>-->
                    <!--<p class="text-muted">You have to make your websites with love these days!</p>-->
                    <!--<div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_schedule">Read more <span class="right-arrow">&#8594;</span></div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<img src="{{ site.baseurl }}/img/class-room.png" style="margin: auto;"/>-->
                    <!--<h3>Classroom</h3>-->
                    <!--<h4>teacher’s class room</h4>-->
                    <!--<p class="text-muted">You have to make your websites with love these days!</p>-->
                    <!--<div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_class_room">Read more <span class="right-arrow">&#8594;</span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<img src="{{ site.baseurl }}/img/teacher_notes.png" style="margin: auto;"/>-->
                    <!--<h3>Note</h3>-->
                    <!--<h4>teacher can take notes </h4>-->
                    <!--<p class="text-muted">You have to make your websites with love these days!</p>-->
                    <!--<div class="pri-yellow read-more" data-toggle="modal" data-target="#teacher_notes">Read more <span class="right-arrow">&#8594;</span></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>



        <!-- Parent features -->

        <div class="row service-slides parent-features" id="parent-features">

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/manage-family.png" style="margin: auto;"/>
                    <div class="service-title">Manage family</div>
                    <div class="text-muted">parent managing kid and entire family. they can add/remove who can access this kid.</div>
                    <div class="text-desc">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when" | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#parent_manage_family">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/parent-message.png" style="margin: auto;"/>
                    <div class="service-title">Message</div>
                    <div class="text-muted">parent can send message to school. let’s say kid is not coming to school today.</div>
                    <div class="text-desc">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when" | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#parent_messages">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/connect.png" style="margin: auto;"/>
                    <div class="service-title">Connect</div>
                    <div class="text-muted">parent can connect with other parents. or may be friends — not necessarily friends.</div>
                    <div class="text-desc">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when" | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#parent_connect">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/share.png" style="margin: auto;"/>
                    <div class="service-title">Share</div>
                    <div class="text-muted">parent can share a photo/text with his friends or family</div>
                    <div class="text-desc">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when" | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#parent_share">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ site.baseurl }}/img/parent_notes.png" style="margin: auto;"/>
                    <div class="service-title">Note</div>
                    <div class="text-muted">parent can take notes</div>
                    <div class="text-desc">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when" | truncate: 80}}</div>
                    <div class="pri-yellow read-more" data-toggle="modal" data-target="#parent_notes">Read more <span class="right-arrow">&#8594;</span></div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="download" class="download bg-primary text-center">
    <div class="container" id="teacher-download">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Download Teacher app</h2>
                <p>Our app is available on any mobile device! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=org.tingr.teacher" target="_blank"><img src="{{ site.baseurl }}/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="https://itunes.apple.com/in/genre/ios/id36?mt=8" target="_blank"><img src="{{ site.baseurl }}/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="parent-download">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Download Parent app</h2>
                <p>Our app is available on any mobile device! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="#" data-toggle="modal" data-target="#parent_app"><img src="{{ site.baseurl }}/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#" data-toggle="modal" data-target="#parent_app"><img src="{{ site.baseurl }}/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="parent_app" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Parent app</h3>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Coming soon</h3>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var p1 = document.getElementById("parent_overlay")
    var t1 = document.getElementById("teacher_overlay")
    $('#parent-features').hide();
    $('#teacher-features').show();
    $('#parent-download').hide();
    $('#teacher-download').show();

    $('#parent_overlay').click((e)=> {
        if (screen.width >= 980){
            document.getElementById("header").style.backgroundImage = "url({{ site.baseurl }}/img/13.jpg)";
        }else{
            document.getElementById("header").style.backgroundImage = "url({{ site.baseurl }}/img/parent_final1.jpg)";
        }
        $('.teacher-features').slick('unslick');
        $('.parent-features').slick('unslick');
        $('#parent-features').show();
        $('#teacher-features').hide();
        $('#parent-download').show();
        $('#teacher-download').hide();
        parentSlickSlider();
    })

     $('#teacher_overlay').click((e)=> {
         if (screen.width >= 980){
            document.getElementById("header").style.backgroundImage = "url({{ site.baseurl }}/img/2.jpg)";
        }else{
            document.getElementById("header").style.backgroundImage = "url({{ site.baseurl }}/img/teacher_final1.jpg)";
        }
        $('.teacher-features').slick('unslick');
        $('.parent-features').slick('unslick');
        $('#parent-features').hide();
        $('#teacher-features').show();
        $('#parent-download').hide();
        $('#teacher-download').show();
        teacherSlickSlider();
    })

//    Slick slider

    function teacherSlickSlider(){
        if (screen.width < 768) {
            $('.teacher-features').not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                mobileFirst: true,
                prevArrow:"<img class='a-left control-c prev slick-prev' src='{{ '/img/ic_keyboard_arrow_left_black_48dp_1x.png' | prepend: site.baseurl }}'>",
                nextArrow:"<img class='a-right control-c next slick-next' src='{{ '/img/ic_keyboard_arrow_right_black_48dp_1x.png' | prepend: site.baseurl }}'>"
            });
        } else if (screen.width >= 768 && screen.width < 980) {
            $('.teacher-features').not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 1,
                mobileFirst: true,
                prevArrow:"<img class='a-left control-c prev slick-prev' src='{{ '/img/ic_keyboard_arrow_left_black_48dp_1x.png' | prepend: site.baseurl }}'>",
                nextArrow:"<img class='a-right control-c next slick-next' src='{{ '/img/ic_keyboard_arrow_right_black_48dp_1x.png' | prepend: site.baseurl }}'>"
            });
        } else if (screen.width >= 980) {
            $('.teacher-features').not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                mobileFirst: true,
                prevArrow:"<img class='a-left control-c prev slick-prev' src='{{ '/img/ic_keyboard_arrow_left_black_48dp_1x.png' | prepend: site.baseurl }}'>",
                nextArrow:"<img class='a-right control-c next slick-next' src='{{ '/img/ic_keyboard_arrow_right_black_48dp_1x.png' | prepend: site.baseurl }}'>"
            });
        }
    }

    function parentSlickSlider(){
        if (screen.width < 768) {
            $('.parent-features').not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                mobileFirst: true,
                prevArrow:"<img class='a-left control-c prev slick-prev' src='{{ '/img/ic_keyboard_arrow_left_black_48dp_1x.png' | prepend: site.baseurl }}'>",
                nextArrow:"<img class='a-right control-c next slick-next' src='{{ '/img/ic_keyboard_arrow_right_black_48dp_1x.png' | prepend: site.baseurl }}'>"
            });
        } else if (screen.width >= 768 && screen.width < 980) {
            $('.parent-features').not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 1,
                mobileFirst: true,
                prevArrow:"<img class='a-left control-c prev slick-prev' src='{{ '/img/ic_keyboard_arrow_left_black_48dp_1x.png' | prepend: site.baseurl }}'>",
                nextArrow:"<img class='a-right control-c next slick-next' src='{{ '/img/ic_keyboard_arrow_right_black_48dp_1x.png' | prepend: site.baseurl }}'>"
            });
        } else if (screen.width >= 980) {

            $('.parent-features').not('.slick-initialized').slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                mobileFirst: true,
                prevArrow:"<img class='a-left control-c prev slick-prev' src='{{ '/img/ic_keyboard_arrow_left_black_48dp_1x.png' | prepend: site.baseurl }}'>",
                nextArrow:"<img class='a-right control-c next slick-next' src='{{ '/img/ic_keyboard_arrow_right_black_48dp_1x.png' | prepend: site.baseurl }}'>"
            });
        }
    }

    $(document).ready(()=>{
        teacherSlickSlider();
        parentSlickSlider();
    })
</script>


<div class="modal fade" id="enrollments" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 class="modal-title text-center">Enrollments</h3>
      <div class="text-center">made easy.</div>
    </div>
    <div class="modal-body">
        <div class="modal-image" style="text-align: center;">
            <img src="{{ site.baseurl }}/img/enrollment.png" style="margin: auto;"/>
        </div>
        <div class="text-desc">Take your school -to- online today. Enrolling kids to new programs, extended care, after school activities, etc. — just a click away! It's <b>quick & easy</b> for everyone. Parents love it.</div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="teacher_documents" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center">Documents</h3>
        <div class="text-center">organize. clutter free.</div>
    </div>
    <div class="modal-body">
        <div class="modal-image" style="text-align: center;">
            <img src="{{ site.baseurl }}/img/teacher_document.png" style="margin: auto;"/>
        </div>
        <div class="text-desc">Our smart tech automagically organizes your student forms/documents for you. Making them available at your fingertips when you need ‘em. We clear clutter out of your school.</div>
        <div class="text-desc">Did we tell you? next time, ask parent to submit forms, send documents online! they are stored for lifetime in the cloud for your convenience. Safety, Security and Privacy are guaranteed.</div>
        <br/>
        <div class="text-desc">Organize kids forms/documents for them to be available at your fingertips when you need ‘em.</div>
        <div class="text-desc">Did we tell you? next time, ask parents to submit forms, send documents online. They are stored forever. Accessible any time.</div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="teacher_moments" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Moments</h3>
                <div class="text-center">capture your classroom in action. share.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/moments.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Parents just love to see kids in action. And you may be that lucky one to see ‘em at first hand! Capture & Share whenever you want!! Even a cute word they just said!!!</div>
                <br/>
                <div class="text-desc">By sharing, you are creating a sense of care, building a healthy bond and more than anything else <span class="underline">an entry to child’s life full of memories</span>.  <span class="underline">creating child’s life time memories</span></div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="teacher_notifications" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Reminders</h3>
                <div class="text-center">focus on whats more important…kids.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/notification.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Remembering day -to- day matters is a daunting task. Birthdays. Holidays. Parent Reminders. Due Dates. Asking all parents to bring toys tomorrow…aaahh! you got the idea.</div>
                <br/>
                <div class="text-desc">Well, you don’t have to do it alone. Our smart reminders — timely notifications are here to free you up. Highly customizable, configurable and most reliable. <span class="underline">Take that mental time-off today!</span></div>
                <br/>
                <div class="text-desc">We know remembering day -to- day matters is a daunting task. And when it comes to classroom, even worse. Birthdays. Holidays. Special Occassions. Due Dates.…aaahh!</div>
                <br/>
                <div class="text-desc">Well, you are not alone now. Our smart reminders — timely notifications are here to free you up. Highly customizable, configurable and most reliable. <span class="underline">Take that mental time-off today!</span></div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="promote" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Promote</h3>
                <div class="text-center">stand-out. stay-ahead. be a <b>purple cow</b>.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/promote.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Our product suites naturally blends with your marketing strategies. Helping you reach right audience with right tools. Fullfilling your short terms goals -to- those long term goals. </div>
                <div class="text-desc">From running one time promotions to those on-going parent referrals. Local market reach. Improved discoverability. Digital presence.</div>
                <div class="text-desc">Use our platform to spread the word about your business. Don’t just follow your dreams, chase them.</div>
                <div class="text-desc">From running one time promotions to those on-going parent referrals. Local market reach. Improved discoverability. Digital presence.</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="teacher_sing_in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Sign-In/Out</h3>
                <div class="text-center">iSIGHT. Automagically works.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/sign-in.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">iSIGHT makes student sign-in/out seamless. No kiosks. No hassle of charging. Moves around with you. Teachers are no exemption.</div>
                <div class="text-desc">We also provide an advanced pin based solution for your smart phone to track sign-in/out.</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="teacher_reposts" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Reports</h3>
                <div class="text-center">Track. Print. Export.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/reports.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Ability to view-export-print vivid collection of schools performance reports for Teacher, School Administrator makes our platform perfect fit.</div>
                <div class="text-desc">Export. Save. Print. Whenever you want. Wherever you want. Available across our mobile/web platforms.</div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="teacher_messages" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Messaging</h3>
                <div class="text-center">Start a conversation. Realtime.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/message.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Whether you intend to communicate with an individual parent or group of parents, parent messaging is never been so much easier & fun. Messages around kid are always visible to class teacher(s).</div>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal fade" id="teacher_schedule" role="dialog">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h3 class="modal-title text-center">Schedule</h3>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="modal-image" style="text-align: center;">-->
                    <!--<img src="{{ site.baseurl }}/img/schedule.png" style="margin: auto;"/>-->
                <!--</div>-->
                <!--<p class="text-muted">a class room schedule. or school year calendar.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="modal fade" id="teacher_class_room" role="dialog">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h3 class="modal-title text-center">Classroom</h3>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="modal-image" style="text-align: center;">-->
                    <!--<img src="{{ site.baseurl }}/img/class-room.png" style="margin: auto;"/>-->
                <!--</div>-->
                <!--<p class="text-muted">teacher’s class room</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="modal fade" id="teacher_notes" role="dialog">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h3 class="modal-title text-center">Note</h3>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="modal-image" style="text-align: center;">-->
                    <!--<img src="{{ site.baseurl }}/img/teacher_notes.png" style="margin: auto;"/>-->
                <!--</div>-->
                <!--<p class="text-muted">teacher can take notes </p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!-- Parent modal boxes -->


<div class="modal fade" id="parent_manage_family" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Manage family</h3>
                <div class="text-center">parent managing kid and entire family. they can add/remove who can access this kid.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/manage-family.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="parent_messages" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Message</h3>
                <div class="text-center">parent can send message to school. let’s say kid is not coming to school today.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/parent-message.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="parent_connect" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Connect</h3>
                <div class="text-center">parent can connect with other parents. or may be friends — not necessarily friends.</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/connect.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="parent_share" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Share</h3>
                <div class="text-center">parent can share a photo/text with his friends or family</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/share.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parent_notes" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Note</h3>
                <div class="text-center">parent can take notes</div>
            </div>
            <div class="modal-body">
                <div class="modal-image" style="text-align: center;">
                    <img src="{{ site.baseurl }}/img/parent_notes.png" style="margin: auto;"/>
                </div>
                <div class="text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
            </div>
        </div>
    </div>
</div>